@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .roundness {
        @apply rounded-lg;
    }

    .white-div {
        @apply bg-white roundness;
    }

    .default-div {
        @apply bg-violet-300 roundness;
    }

    .darker-div {
        @apply bg-violet-400 roundness;
    }

    .darkerer-div {
        @apply bg-violet-700 roundness;
    }

    .ultralight-div {
        @apply bg-violet-100 roundness;
    }

    .lighter-div {
        @apply bg-violet-200 roundness;
    }

    .text-dark-nonblack {
        @apply text-violet-800;
    }

    .text-nondark {
        @apply text-violet-600;
    }

    .button-colors {
        @apply bg-violet-700 hover:bg-violet-600 p-2 text-white transition duration-200;
    }

    .arrow-colors {
        @apply fill-violet-700 hover:fill-violet-600 stroke-violet-700 hover:stroke-violet-600 transition duration-200;
    }

    .text-warning {
        @apply font-bold text-rose-600;
    }

    .button-grid-short {
        @apply grid grid-cols-3 grid-rows-2 grid-flow-row gap-4;
    }

    .button-grid-normal {
        @apply grid grid-cols-3 grid-rows-3 grid-flow-row gap-4;
    }

    .button-grid-ext {
        @apply grid grid-cols-3 grid-rows-4 grid-flow-row gap-4;
    }

    .button-grid-narrow-short {
        @apply grid grid-flow-col gap-1;
        grid-template-rows: repeat(4, minmax(0, 1fr));
    }

    .button-grid-narrow {
        @apply grid grid-flow-col gap-1;
        grid-template-rows: repeat(6, minmax(0, 1fr));
    }

    .button-grid-narrow-ext {
        @apply grid grid-flow-col gap-1;
        grid-template-rows: repeat(8, minmax(0, 1fr));
    }

    .header-text {
        @apply text-4xl text-dark-nonblack font-bold text-center sm:ml-12 sm:mr-12;
    }
}

body {
    background-color: #414243;
}

.input {
    @apply w-full rounded px-5 py-3.5 focus:bg-[#e6e6e6];
}

.arr {
    @apply drop-shadow-md transition duration-200 w-8 h-8 arrow-colors;
}

.general-button {
    @apply button-colors p-2 font-bold text-center rounded-lg grow;
}

.back-button {
    @apply p-0.5 font-bold text-center rounded-lg;
}

.home-div {
    @apply relative flex flex-col gap-4 p-8 w-screen min-h-screen items-center justify-center;
}

.home-subdiv {
    @apply place-self-center flex flex-col gap-4 default-div p-2 sm:p-4;
}

.home-subdiv-l {
    @apply place-self-center flex flex-col gap-4 lighter-div p-2 sm:p-4;
}

.home-subdiv > h1, .home-subdiv-l > h1, .home-header > h1 {
    @apply header-text;
}

.home-buttondiv {
    @apply button-grid-narrow sm:button-grid-normal place-content-center;
}

.home-short-buttondiv {
    @apply button-grid-narrow-short sm:button-grid-short place-content-center;
}

.home-bus-buttondiv {
    @apply button-grid-narrow-ext sm:button-grid-ext place-content-center;
}

.home-short-buttondiv > p, .home-buttondiv > p, .home-bus-buttondiv > p {
    @apply justify-center items-center place-self-center sm:col-span-2 break-words w-80 font-semibold;
}

.ref-info {
    @apply break-all;
}

.loader-div {
    display: none;
}

.loader-div:only-child {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999999 !important;
    @apply -translate-x-1/2 -translate-y-1/2 bg-black p-6 rounded-full;
}
